# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# Секреты (если файл с ключами существует)
SUPABASE.xcconfig
*.xcuserdatad/

# Supabase
.env
.env.local